<div class="upload-area container">
    <div class="row">
        <div class="col" align="center">
            <div class="instruction-text text-center">Drag and drop your files into the box</div>
            <div class="upload-box"></div>
        </div>
        <div class="col" align="center">
            <!-- browse to search for files -->
            <div class="text-center">Upload files from your computer</div>
            <input class="upload-button" type="file">
        </div>
    </div>
</div>